@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  @apply bg-gray-50
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.menu-link .anticon{
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }
}